:root,
html[data-theme="Dark"] {
    --body-back-gread-1: #212828;
    --body-back-gread-2: #212728;
    --body-back-gread-3: #222c2c;
    --body-col: silver;
    --Blur: blur(4px);
    --Blur-lg: blur(8px);
    --app-boder-col: rgb(79, 79, 79);
    --app-header-back: rgb(42, 42, 42);
    --app-tabs-back: rgb(64, 64, 64);
    --app-tabs-col: #f5f5f5;
    --app-tabs-cont-btn-col: rgb(255, 255, 255);
    --app-tab-border: rgb(112, 112, 112);
    --app-Seperator: rgb(131, 131, 131);
    --Seperator-low: rgb(131, 131, 131);
    --Seperator: rgb(131, 131, 131);
    --app-opration-btn-col: white;
    --app-opration-btn-back: rgb(54, 56, 56);
    --app-opration-btn-border: #333333;
    --app-active-shadow: #223246;
    --app-active-border: #676767;
    --app-active-body-header: #676767;
    --popup-border: rgb(124, 125, 126);
    --popup-body-border: rgb(84, 84, 84);
    --border: rgb(124, 125, 126);
    --Notifications-Border: 1px solid rgb(67, 67, 67);
    --Notifications-back: rgb(58, 58, 58);
    --task-border: #626262;
    --task-back: #1f1f1f;
    --hov-btns-back: rgb(86, 86, 86);
    --hov-btns-col: #f5f5f5;
    --hov-App-Icon-back: rgb(63, 63, 63);
}
/* html[data-theme="Dark"] {
    --body-back-gread-1: #212828;
    --body-back-gread-2: #212728;
    --body-back-gread-3: #222c2c;
    --body-col: silver;
    --Blur: blur(4px);
    --Blur-lg: blur(8px);
    --app-boder-col: rgba(124, 125, 126, 0.556);
    --app-header-back: rgba(42, 42, 42, 0.518);
    --app-tabs-back: rgba(144, 153, 156, 0.262);
    --app-tabs-col: #f5f5f5;
    --app-tabs-cont-btn-col: white;
    --app-tab-border: rgba(153, 153, 153, 0.513);
    --app-Seperator: rgba(131, 131, 131, 0.373);
    --Seperator-low: rgba(131, 131, 131, 0.1);
    --Seperator: rgba(131, 131, 131, 0.373);
    --app-opration-btn-col: white;
    --app-opration-btn-back: rgba(54, 56, 56, 0.797);
    --app-opration-btn-border: #3333336b;
    --app-active-shadow: #22324672;
    --app-active-border: #a5a5a67a;
    --app-active-body-header: #bababa92;
    --popup-border: rgba(124, 125, 126, 0.556);
    --popup-body-border: rgba(124, 125, 126, 0.556);
    --border: rgba(124, 125, 126, 0.556);
    --Notifications-Border: 1px solid rgba(124, 125, 126, 0.556);
    --Notifications-back: rgba(90, 90, 90, 0.146);
    --task-border: #9b9b9c3f;
    --task-back: #28123290;
    --hov-btns-back: rgba(144, 153, 156, 0.262);
    --hov-btns-col: #f5f5f5;
    --hov-App-Icon-back: rgba(90, 90, 90, 0.146);
} */

html[data-theme="Light"] {
    --body-back-gread-1: #888888;
    --body-back-gread-2: #929292;
    --body-back-gread-3: #7a7a7a;
    --body-col: rgb(70 11 56);
    --Blur: blur(4px);
    --Blur-lg: blur(8px);
    --app-boder-col: rgb(148 148 148 / 56%);
    --app-header-back: rgb(206, 206, 206);
    --app-tabs-back: aqua;
    --app-tabs-col: #111;
    --app-tabs-cont-btn-col: #000000;
    --app-tab-border: rgba(43, 13, 67, 0.834);
    --app-Seperator: rgb(0 0 0 / 75%);
    --app-opration-btn-col: #222;
    --app-opration-btn-back: aqua;
    --app-opration-btn-border: #6dacbc87;
    --app-active-shadow: #adaaaa72;
    --app-active-border: #761c897a;
    --app-active-body-header: #00000092;
    --popup-border: rgba(124, 125, 126, 0.556);
    --popup-body-border: rgba(124, 125, 126, 0.556);
    --border: rgb(58 57 57 / 70%);
    --Notifications-Border: 1px solid rgb(69 78 86 / 38%);
    --Notifications-back: rgb(255 255 255 / 55%);
    --task-border: #9c9b9bb3;
    --task-back: #ffffff6b;
    --hov-btns-back: rgb(231 231 231 / 26%);
    --hov-btns-col: #000000ed;
    --hov-App-Icon-back: rgb(255 255 255 / 55%);
}